@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-background font-sans text-text antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-slate-900;
  }

  a {
    @apply text-primary transition-colors duration-150;
  }

  a:hover {
    @apply text-primary/80;
  }
}
